* {
  margin:  0;
  padding: 0;
}

div {
  display: block;
}

img {
  border: 0;
}

body {
  font-family:      '.SFNSText-Regular', 'San Francisco Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size:        14pt;
  color:            #333;
  background-color: #F0F0F0;
}

.cont {
  margin:     0 auto;
  margin-top: 45px;
  max-width:  800px;
  min-width:  600px;
}

#footer {
  margin-top:              1em;
  font-family:             cursive;
  color:                   #67543A;
  text-align:              right;
  padding-right:           100px;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay:    1.8s;
}

#profile {
  -webkit-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius:         7px;
  width:                 160px;
  height:                160px;
  float:                 left;
  margin:                0em 1em 0em 0em;
}

.cont a {
  font-weight:     800;
  color:           #94b7eb;
  text-decoration: none;
}

.cont a:hover {
  color:           #3879d9;
  text-decoration: inherit;
}

.highlight {
  color:       #3879d9;
  font-weight: 800;
}

.nohighlight {
  color:       #333 !important;
  font-weight: normal !important;
}

.vim {
  color:       #809D4E;
  font-weight: 800;
}

.atom {
  color:       rgb(88, 75, 79);
  font-weight: 800;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

#d1 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay:    0.2s;
}
#d2 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay:    0.4s;
}
#d3 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay:    0.6s;
}
#d4 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay:    0.8s;
}
