* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
img {
    border: 0;
}
body {
    font-family: sans-serif;
    font-size: 16pt;
    background-color: #3E352D;
    color: #F0E6DC;
}
.cont {
    margin: 50px;
    max-width: 800px;
    min-width: 600px;
}
#profile {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: -3px 3px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -3px 3px 2px rgba(50, 50, 50, 0.75);
    box-shadow: -3px 3px 2px rgba(50, 50, 50, 0.75);
    width: 160px;
    height: 160px;
    float: left;
    margin: 0em 1em 0.3em 0em;
}
.cont a {
    font-weight: 800;
    color: #D4A459;
    text-decoration: none;
}
.cont a:hover {
    color: #F0E6DC;
    text-decoration: inherit;
}
.footer {
    margin-top: 1em;
    font-family: cursive;
    color: #67543A;
    text-align: right;
    padding-right: 100px;
}
.kuroneko {
    background-image: url("kuroneko.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 297px;
    height: 441px;
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.kuroneko_copyright {
    font-size: 11pt;
    color: #544939;
    position: absolute;
    bottom: 1px;
    left: 7px;
}
.kuroneko_copyright a {
    color: #67543A;
    text-decoration: inherit;
}
.kuroneko_copyright a:hover {
    color: #67543A;
    text-decoration: inherit;
}
.projects {
    display: none;
    position: absolute;
    width: 555px;
    margin: -18px 0px 0px 18px;
}
.projects_inner {
    background-color: #A7875B;
    color: #67543A;
    padding: 10px;
}
.projects_inner a {
    color: #33281A;
    text-decoration: inherit;
}
.projects_inner a:hover {
    color: #F0E6DC;
    text-decoration: inherit;
}
.highlight {
    color: #9D7F4E;
    font-weight: 800;
}
.langruby {
    color: rgb(185, 33, 34);
}
.langc {
    color: rgb(137, 137, 137);
}
.langperl {
    color: rgb(2, 152, 195);
}
.langd {
    color: rgb(252, 212, 109);
}
.langrust a {
    color: rgb(222, 165, 132);
}
.vim {
    color: #809D4E;
    font-weight: 800;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #A7875B transparent;
    position: absolute;
    right: 20px;
    top: -17px;
}
.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}